@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

// Màu sắc
$primary-color: #ff4d4f;
$secondary-color: #1890ff;
$text-color: #111827;
$text-color-des: #374151;
$background-color: #ffffff;
$background-btn: #030712;
$text-color-btn: #ffffff;

// Font chữ
$font-primary: 'DM Sans', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// Kích thước
$container-width: 1200px;
