@import 'variables';

.our-models {
    padding: 80px 0;
    width: 100%;

    .our-models-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .view-all {
            display: flex;
            align-items: center;
            background-color: $background-btn-secondary;
            padding: 10px 20px;
            border-radius: 4px;
            gap: 8px;
            font-size: 18px;
            font-weight: 600;
            color: $text-color;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }

            @include responsive(sm) {
                display: none;
            }
        }
    }

    .models-list {
        display: flex;
        gap: 20px;
        overflow-x: auto;
        padding-bottom: 10px;
    }

    .model-card {
        cursor: pointer;
        flex: 0 0 200px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

        .model-image {
            width: 100%;
            height: auto;
        }

        .model-info {
            padding: 10px;

            .model-name {
                color: $text-color;
                font-size: 20px;
                font-weight: bold;
                margin: 5px 0;
                text-align: left;

                @include responsive(sm) {
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            .model-national {
                margin: 0;
                font-size: 14px;
                color: $text-color-des;
                text-align: left;

                @include responsive(sm) {
                    font-size: 12px;
                }
            }
        }
    }

    .btn-view-all-mobile {
        display: none;
    }
    @include responsive(sm) {
        .btn-view-all-mobile {
            display: block;
            cursor: pointer;
        }
    }
}
